# Android/IntelliJ
*.iml
.gradle
/local.properties
.idea/
build/
app/build/
captures/
.externalNativeBuild
.cxx

# Cloudflare Wrangler
wrangler-account.json
.wrangler/

# Logs
*.log

# Keystores
*.jks
*.keystore

# System files
.DS_Store
Thumbs.db
*.bak
*.bak2
